#login-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
}

#login-page .buttons {
    display: flex;
    flex-direction: column;
}


/* #login-page .divPequenas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: none;
    /* background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%); */

#login-page .wrapper {
    padding: 2em;
}

#login-page .container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
}

#login-page .content {
    width: 100vw;
    height: 100vh;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* 
#login-page .mobilelogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}

#login-page .mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background: none;
}

#login-page .centerlogin {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#login-page .mobile .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-page  {
    position: relaabsolutetive;
    max-width: 1300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
} */

#login-page p {
    margin: 6px;
}

#login-page p {
    margin: 6px;
}

#login-page input {
    margin: 6px;
    width: 260px;
    border: none;
    border-radius: 6px;
    height: 40px;
    padding-left: 4px;
}

#login-page input:focus {
    background: #edf3ef;
}

#login-page .recovery-password {
    position: absolute;
}


/* 
#login-page .mt {
    margin-top: 12px;
} */

.button-password {
    background-color: #92e3a9;
    border-radius: 20px;
    height: 40px;
    width: 260px;
    border: none;
    margin: 6px;
}

#login-page .button-password:hover {
    background-color: #96feff;
}

#login-page .button-password:focus {
    background-color: #96feff;
}

#login-page .button-cadastro {
    background-color: #ffa2d8;
    border-radius: 20px;
    height: 40px;
    width: 260px;
    border: none;
    margin: 6px;
}

#login-page .button-cadastro:hover {
    background-color: #ff96df;
}

#login-page .button-cadastro:focus {
    background-color: #ff96df;
}


/* #login-page  main h1 {
    font-size: 76px;
    font-weight: 800;
    line-height: 70px;
} */

#helper-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#helper-page .content-wrapper {
    display: absolute;
    align-content: center;
    align-items: center;
}